<widget id="A6026378331159" version="0.0.1">

    <name>抄表管家</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="true"/>

    <preference name="debug" value="false"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

    <preference name="backgroundMode" value="bluetooth-peripheral"/>

    <feature name="ajpush">
        <param name="app_key" value="916842a7c48ca09f622acb91"/>
        <param name="channel" value="086a3e46de9a6655381de521"/>
    </feature>

    <feature name="bMap">
        <param name="android_api_key" value="C8EpyUyPtI7E82XpRejDRQoasDsZ7lhX"/>
        <param name="ios_api_key" value="0emlItbGqFqss4WuTmWRkrfu9GawGter"/>
    </feature>
</widget>
